{% extends 'basic.html' %}

{% block content %}

    {% for object in object_list %}

            <div class="text-inner d-flex align-items-center">
                <div class="content">
                    <header class="post-header">
                        <div class="category">
                            {% for cat in object.categories.all %}
                                <a href="">{{ cat.title }}</a>
                            {% endfor %}

                        </div>
                            <h2 class="h4">{{ object.title }}</h2></a>
                    </header>
                    <p>{{ object.overview }}</p>
                    <footer class="post-footer d-flex align-items-center"><a href="#"
                                                                             class="author d-flex align-items-center flex-wrap">
                        <div class="avatar"><img src="{{ object.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                        <div class="title"><span>{{ object.author }}</span></div>
                    </a>
                        <div class="date"><i class="icon-clock"></i>{{ object.timestamp|timesince }} назад</div>
                        <div class="comments"><i class="icon-comment"></i>{{ object.comment_count }}</div>
                    </footer>
                </div>
            </div>
        <div class="image col-lg-5"><img src="{{ object.thumbnail.url }}" alt="..."></div>

    {% endfor %}





{% endblock %}